
div {
	margin-bottom: 1em;
}

.td {
	width: 20px;
	height: 20px;
}

.a {
	background-color: #DEDEDE;
}

.b {
	background-color: #C5E3E6;
}

.c {
	background-color: #87B4EC;
}

.d {
	background-color: #536CBE;
}

.e {
	background-color: #344DA9;
}

[data-tooltip] {
    position: relative;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 130px;
    z-index: 9999;
    left: 0; top: 0;
    background: #0E0E0E;
    color: #EBEBEB;
    padding: 0.5em;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
} 
[data-tooltip]:hover::after {
    opacity: 1;
    top: 2em;
}